{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="{% static 'my_events/add_event.css' %}">
</head>
<body>
    <div class="container">
    <div class="addEvent">
    <h1>Add a new Event</h1>
    <form action="{% url 'add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="input_button">
    </form>
    <a href="{% url 'index' %}" class="input_button" id="index_link">See your events</a>
</div>
</div>
</body>
</html>