@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


/*My custom Css*/


 .container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #bbdefb;
}

/* LIKES styles */

 .likes {
  padding: 50px 100px;
  max-width: 800px;
  margin:auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 41px -3px rgba(0,0,0,0.21);
  -webkit-box-shadow: 1px 1px 41px -3px rgba(0,0,0,0.21);
  -moz-box-shadow: 1px 1px 41px -3px rgba(0,0,0,0.21);
  font-family: roboto, sans-serif;
}


.likes > h1 {
  font-size: 3.25rem;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

.item--text {
  color: #6f7287;
  margin-right: 180px;
}

.item--text > h2 {
  color: #39364f;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.item--time {
  color: #f05537;
}


.item--image > img {
  height: 130px;
  margin-bottom: 20px;
}

.item--image > i {
  font-size: 20px;
  color: #6f7287;
}


.item--image {
  text-align: right;
}
a {
  cursor: pointer;
}

.like_event {
  font-size: 25px;
}

.fas {
  color: red;
}

.add-event {
  background-color: #000  ;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 41px -3px rgba(0,0,0,0.21);
  -webkit-box-shadow: 1px 1px 41px -3px rgba(0,0,0,0.21);
  -moz-box-shadow: 1px 1px 41px -3px rgba(0,0,0,0.21);
}

.add-event:active {
  box-shadow: none;
  padding: 14px;
}